@import url("modern-normalize/modern-normalize.css");
@import "reset";
@import "variables/global";

html, body {
  height: 100vh;
}

#root {
  min-height: 100vh;
  // overflow: hidden;
  position: relative;
}

.app {
  min-height: 100vh;
  line-height: var(--font-line-main);
  font-family: var(--font-family-main);
  font-size: var(--fz-main-s);
  color: var(--text-color);
  background: var(--black-color);

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  width: min(600px, 100%);
  margin: 0 auto;
}

.page__loader {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  // min-height: calc(100vh - var(--navbar-height));
}

a {
  color: var(--action-color);
  font-size: var(--fz-main-m);
  text-decoration: none;
  * {
    color: inherit;
    font-size: inherit;
  }
}

input[type="file"], input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
