@font-face {
  src: url("./fonts/EBGaramond.ttf");
  font-family: "EBGaramond";
}

@font-face {
  src: url("./fonts/Inter.ttf");
  font-family: "Inter";
}

:root {
  // colors
  --black-color: #000015;
  --full-black-color: #000;
  --text-color: #FFFFFF;
  --text-hidden-color: hsla(0, 0%, 100%, 0.4);
  --hr-color:rgba(217, 217, 217, 0.2);
  --hint-color: #00FF47;
  --dangerous-color: #E01E1E;
  --warning-color: #FFA800;
  --blue-color: #45AEF5;
  --secondary-bg: #2B2B3C;
  --action-color: #3A4362;
  --wrapper-skeleton: #d9d9d9;
  --skeleton: #7d7d7d;

  --font-family-main: "Inter";
  --font-family-additional: "EBGaramond", sans-serif;

  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-line-main: 155%;

  // --fz-main-xxl: 32px;
  --fz-main-xl: 24px;
  --fz-main-l: 16px;
  --fz-main-m: 14px;
  --fz-main-s: 12px;
  --fz-main-xs: 10px;

  --height-text-main-xl: 0px;
  --height-text-main-l: 19px;
  --height-text-main-m: 0px;
  --height-text-main-s: 20px;
  --height-text-main-xs: 15px;

  // border-radiuses:
  --button_br: 25px;
  --mini_br: 5px;

  // animations:

  // padding
  --p-wrapper-classic: 0 20px;
  --p-button:5px 13px;
  --p-large-button:10px 13px;

  // border
  --border-classic-source:linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 48.96%, rgba(255, 255, 255, 0.00) 100%);
}
