@font-face {
  src: url("./fonts/EBGaramond.ttf");
  font-family: "EBGaramond";
}

@font-face {
  src: url("./fonts/Inter.ttf");
  font-family: "Inter";
}

:root {
  // colors
  --black_color: #000015;
  --full-black_color: #000;
  --text_color: #FFFFFF;
  --text-hidden_color: hsla(0, 0%, 100%, 0.4);
  --hr_color:rgba(217, 217, 217, 0.2);
  --hint_color: #00FF47;
  --dangerous_color: #E01E1E;
  --warning_color: #FFA800;
  --blue_color: #45AEF5;
  --secondary_bg: #2B2B3C;
  --action_color: #3A4362;

  --font-family-main: "Inter";
  --font-family-additional: "EBGaramond", sans-serif;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-line-main: 155%;

  // --font-size-main-xxl: 32px;
  --font-size-main-xl: 24px;
  --font-size-main-l: 16px;
  --font-size-main-m: 14px;
  --font-size-main-s: 12px;
  --font-size-main-xs: 10px;

  // border-radiuses:
  --button_br: 25px;
  --mini_br: 5px;

  // animations:

  // padding
  --p-button:5px 13px;
  --p-large-button:10px 13px;
  --p-wrapper-classic: 0 20px;

  // border
  // 1px solid
  --border-classic-slice:1;
  --border-bottom-classic-width:0 0 1px 0;
  --border-top-classic-width:1px 0 0 0;
  --border-classic-source:linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 48.96%, rgba(255, 255, 255, 0.00) 100%);
}
