.button {
  border-radius: var(--button_br);
  padding: var(--p-button);
  font-size: var(--fz-l);
  font-weight: var(--font-weight-bold);
  color: var(--black-color);
}

.base_size {
  padding: var(--p-button);
  border-radius: var(--button_br);
}

.primary, .primary_large {
  background-color: var(--blue-color);
}

.primary_large {
  border-radius: var(--mini_br);
  padding: var(--p-large-button);
}

.large{
  width: 100%;
  padding: 14px 12px;
  border-radius: var(--mini_br);
  border: 1px solid var(--action-color);
  color:var(--blue-color);
  font-size: var(--fz-s);
  font-weight: 500;
  text-align: left;

  &[aria-checked='true'] {
    color:var(--text-color);
    border: 1px solid var(--text-color);
  }
}
