.button {
  border-radius: var(--button_br);
  background-color: var(--blue_color);
  padding: var(--p-button);
  font-size: var(--fz-main-l);
  font-weight: var(--font-weight-bold);
  color: var(--black_color);
}

.base_size {
  padding: var(--p-button);
  border-radius: var(--button_br);
}

.connect-wallet {

}

.large {
  border-radius: var(--mini_br);
  padding: var(--p-large-button);
}
