
.container_loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading_pulse {
  0% {
    width: 40%;
    height: 40%;
  };

  50% {
    width: 30%;
    height: 30%;
  }

  100% {
    width: 40%;
    height: 40%;
  }
}

.loading_image {
  animation: loading_pulse 2.5s ease-in-out infinite forwards;
}
