
.title {
  margin-top: 20px;
  color: var(--text-color);
  font-size: var(--fz-main-m);
}

.container_toggle {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.label_toggle {
  font-size: var(--fz-main-s);
  color:var(--text-hidden-color);
}

