
.input {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  color:var(--text-color);
  &::placeholder {
    color:var(--black-color);
  }
  padding: 0 10px;
}

.primary {
  border-bottom: var(--border-bottom-classic)
}

.search-orders {
  border-radius: var(--mini_br);
  border: 1px solid var(--full-black-color);
  background: var(--action-color);
  &:focus {
    border: 1px solid var(--text-color);
  }
}
