
.input {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  color:var(--text_color);
  &::placeholder {
    color:var(--black_color);
  }
  padding: 0 10px;
}

.primary {
  border-bottom: var(--border-bottom-classic)
}

.search-tasks {
  border-radius: var(--mini_br);
  border: 1px solid var(--full-black_color);
  background: var(--action_color);
  &:focus {
    border: 1px solid var(--text_color);
  }
}
