
.container {
  margin-top: 20px;
  display: block;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr {
  margin-top: 20px;
}

.left_content {
  display: flex;
  align-items: center;
  gap:15px;
}

.title_icon_filters {
  font-size: var(--font-size-main-xl);
}

.title_filters {
  font-size: var(--font-size-main-s);
  color:var(--text-hidden_color);
}

.value_filters {
  font-size: var(--font-size-main-l);
  color:var(--text_color);
  margin-top: 3px;
}
