
.container {
  width: 100%;
  padding-bottom: 1.25rem;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid transparent;
  border-image-slice: var(--border-classic-slice);
  border-width: var(--border-bottom-classic-width);
  border-image-source:var(--border-classic-source);
}

.left_content {
  display: flex;
  align-items: center;
  gap:15px;
}

.title_icon_filters {
  font-size: var(--font-size-main-xl);
}

.title_filters {
  font-size: var(--font-size-main-s);
  color:var(--text-hidden_color);
}

.value_filters {
  font-size: var(--font-size-main-l);
  color:var(--text_color);
  margin-top: 3px;
}
