
.download_button {
  width: 100%;
  padding: 14px 12px;
  border-radius: var(--mini_br);
  border: 1px solid var(--action_color);
  color:var(--blue_color);
  font-size: var(--fz-main-s);
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
