.skeleton_wrapper {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: inherit;
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  background: var(--wrapper-skeleton);
}

@keyframes animationSkeleton{
  0%{
    left: -100%;
  }

  100%{
    left: 200%;
  }
}

.skeleton_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--skeleton);
  animation: 2s animationSkeleton infinite ease-out;
}

.xl {
  height: var(--height-text-main-xl);
}

.l{
  height: var(--height-text-main-l);
}

.m {
  height: var(--height-text-main-m);
}

.s {
  height: var(--height-text-main-s);
}

.xs {
  height: var(--height-text-main-xs);
}

.status {
  width: 70px;
  height: 17px;
}
