@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*    src: url("./fonts/Inter.ttf");*/
/*    font-family: "Inter";*/
/*}*/

:root {
    --divider-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    --primary-color: "#000015";
    --secondary-color: "#45AEF5";
    --info-color: "#3A4362";

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
