
.filter_link {
  position: fixed;
  bottom:30px;
  left:50%;
  transform:translateX(-50%);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap:13px;
  align-items: center;
  justify-content: space-between;
}
