.container {
  width: 100%;
  margin-top: 20px;
}

.conatiner_title, .name_customer {
  font-size: var(--fz-s);
  color:var(--text-color);
}

.profile_body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap:10px;
}

.avatar_body {
  width: 80px;
  height: 80px;
}

.avatar_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main_section {
  display: flex;
  flex-direction: column;
  gap:7px;
}

.statistic, .contacts {
  display: flex;
  align-items: center;
  gap:5px;
}

.content_text, .hidden_text {
  color:var(--text-color);
  font-size: var(--fz-xs);
}

.hidden_text {
  color:var(--text-hidden-color);
}
