
.container {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  display: block;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border_bottom {
  margin-top: 20px;
}

.left_content {
  display: flex;
  align-items: center;
  gap:15px;
  padding-right: 10px;
}

.title_icon_filters {
  font-size: var(--fz-main-xl);
}

.title_filters {
  font-size: var(--fz-main-s);
  color:var(--text-hidden-color);
  font-weight: 400;
}

.value_filters {
  font-size: var(--fz-main-l);
  color:var(--text-color);
  font-weight: 400;
  margin-top: 3px;
  text-align: left;
}
