
.order_count_responses {
  display:inline-block;
  margin-top: 5px;
  padding: 3px 4px;
  font-size: 7px;
  line-height: normal;
  letter-spacing: 0.42px;
  border-radius: 2px;
}

.without_responses {
  color:var(--hint-color);
  border: 0.5px solid var(--hint-color);
}

.average_responses {
  color:var(--warning-color);
  border: 0.5px solid var(--warning-color);

}

.large_responses {
  color:var(--dangerous-color);
  border: 0.5px solid var(--dangerous-color);
}
