
.wrapper_order {
  width:100%;
  display: block;
  margin-top: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:first-child {
    border: 0;
  }
}
.hr{
  margin-top: 15px;
}

.title {
  color:var(--text-color);
  font-size: var(--fz-main-s);
}

.padding_text {
  margin-top: 5px;
}

.deadline {
  font-size: var(--fz-main-xs);
  color:var(--text-hidden-color);
}

.price {
  font-size: var(--fz-main-s);
}


