.container {
  width: 100%;
  height: 100%;
  padding: var(--p-wrapper-classic);
  overflow: auto;
  margin-bottom: 20px;
}

.wrapper_order {
  width:100%;
  cursor: pointer;
  display: block;
  margin-top: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:first-child {
    border: 0;
  }
}

.hr{
  margin-top: 15px;
}

.order_title {
  color:var(--text_color);
  font-size: var(--font-size-main-s);
}


.order_deadline {
  font-size: var(--font-size-main-xs);
  color:var(--text-hidden_color);
  margin-top: 5px;
}

.order_price {
  font-size: var(--font-size-main-s);
  margin-top: 5px;
}

.order_count_responses {
  display:inline-block;
  margin-top: 5px;
  padding: 3px 4px;
  font-size: 7px;
  line-height: normal;
}

.without_responses {
  color:var(--hint_color);
  border: 0.5px solid var(--hint_color);
}

.average_responses {
  color:var(--warning_color);
  border: 0.5px solid var(--warning_color);

}

.large_responses {
  color:var(--dangerous_color);
  border: 0.5px solid var(--dangerous_color);
}
